#graphiql-container .docExplorerWrap {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

#graphiql-container .doc-explorer {
  height: 100%;
  background: white;
}

#graphiql-container .doc-explorer-title-bar {
  position: relative;
  height: 34px;
  line-height: 14px;
  padding: 7px 8px 6px;
  -webkit-user-select: none;
          user-select: none;
}

#graphiql-container .doc-explorer-title {
  padding: 10px 0 10px 10px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

#graphiql-container .doc-back-to-main-button {
  float: left;

}

#graphiql-container .doc-explorer-toggle-button {
  float: right;
}

#graphiql-container .doc-explorer-toggle-button,
#graphiql-container .doc-back-to-main-button {
  margin: 0 8px;
  position: relative;
  padding: 1px 8px;
  line-height: 22px;
  background-color: #f6f7f8;
  border-radius: 2px;
  border: 1px solid;
  border-color: #cccccc #c5c6c8 #b6b7b9;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#graphiql-container .doc-explorer-contents {
  position: relative;
  height: 100%;
  background-color: #ffffff;
  border-top: 1px solid #d6d6d6;
  padding: 14px 15px;
  overflow-y: auto;
  min-width: 300px;
}

#graphiql-container .doc-explorer-resize-bar {
  cursor: col-resize;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 10px;
  z-index: 10;
}

#graphiql-container .doc-explorer-contents a {
  cursor: pointer;
  text-decoration: none;
  color: #7f93bc;
}

#graphiql-container .doc-explorer-contents a:hover {
  text-decoration: underline;
}

#graphiql-container .doc-nav-back-link {
  padding-bottom: 10px;
}

#graphiql-container .doc-type-title {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0 0;
}

#graphiql-container .doc-value-description {
  padding: 4px 0 8px 12px;
}

#graphiql-container .doc-category {
  padding: 10px 0;
  margin-bottom: 10px;
}

#graphiql-container .doc-category-title {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
}

#graphiql-container .doc-category-item {
  padding: 4px 0 8px;
}
