.graphiql-editor {
  height: 100%;
  position: relative;
  width: 100%;

  &.hidden {
    display: none;
  }
}

.monaco-editor {
  /* otherwise editor couldn't be resized */
  position: absolute !important;
  /**
   * Monaco-editor from v0.52 shows some blue lines for all editors
   * @see https://github.com/microsoft/monaco-editor/issues/4455
   */
  outline-width: 0 !important;
  /* Add some padding so it doesn’t touch the tabs */
  padding-top: var(--px-16);
}
