.graphiql-container,
.CodeMirror-info,
.CodeMirror-lint-tooltip,
reach-portal {
  /* Colors */
  --color-pink: #d60690;
  --color-purple: #6e6acf;
  --color-blue: #007eea;
  --color-orche: #d37f00;
  --color-red: #f85b30;
  --color-green: #2bab7c;
  --color-teal: #009fb8;
  --color-neutral-100: #3b4b68;
  --color-neutral-60: #8993a4;
  --color-neutral-40: #b1b7c3;
  --color-neutral-15: #e2e4e8;
  --color-neutral-10: #ebedf0;
  --color-neutral-7: #f1f2f4;
  --color-neutral-0: #ffffff;

  --color-pink-background: rgb(214, 6, 144, 0.1);
  --color-pink-background-dark: rgb(214, 6, 144, 0.15);
  --color-pink-dark: #ab0573;
  --color-orche-background: rgba(211, 127, 0, 0.07);
  --color-orche-background-dark: rgba(211, 127, 0, 0.12);
  --color-red-background: rgba(248, 91, 48, 0.12);
  --color-green-background: rgba(43, 171, 124, 0.12);
  --color-neutral-background: rgba(59, 75, 104, 0.1);

  /* Font */
  --font-family: 'Roboto', sans-serif;
  --font-family-mono: 'Fira Code', monospace;
  --font-size-hint: calc(12rem / 16);
  --font-size-inline-code: calc(13rem / 16);
  --font-size-body: calc(15rem / 16);
  --font-size-h4: calc(18rem / 16);
  --font-size-h3: calc(22rem / 16);
  --font-size-h2: calc(29rem / 16);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --line-height: 1.5;

  /* Spacing */
  --px-2: 2px;
  --px-4: 4px;
  --px-6: 6px;
  --px-8: 8px;
  --px-10: 10px;
  --px-12: 12px;
  --px-16: 16px;
  --px-20: 20px;
  --px-24: 24px;

  /* Border radius */
  --border-radius-2: 2px;
  --border-radius-4: 4px;
  --border-radius-8: 8px;
  --border-radius-12: 12px;

  /* Box shadow */
  --box-shadow: 0px 6px 20px rgba(59, 76, 106, 0.13),
    0px 1.34018px 4.46726px rgba(59, 76, 106, 0.0774939),
    0px 0.399006px 1.33002px rgba(59, 76, 106, 0.0525061);

  /* Layout */
  --sidebar-width: 44px;
  --toolbar-width: 40px;
  --session-header-height: 51px;
}

@media (prefers-color-scheme: dark) {
  body:not(.graphiql-light) .graphiql-container,
  body:not(.graphiql-light) .CodeMirror-info,
  body:not(.graphiql-light) .CodeMirror-lint-tooltip,
  body:not(.graphiql-light) reach-portal {
    --color-pink: #ff5895;
    --color-purple: #918cff;
    --color-blue: #6fbcff;
    --color-orche: #ffcc99;
    --color-neutral-100: #b7c2d7;
    --color-neutral-60: #5a687f;
    --color-neutral-40: #465877;
    --color-neutral-15: #2d384c;
    --color-neutral-10: #26303f;
    --color-neutral-7: #293242;
    --color-neutral-0: #222b39;

    --color-pink-dark: #ff357f;
  }
}

body.graphiql-dark .graphiql-container,
body.graphiql-dark .CodeMirror-info,
body.graphiql-dark .CodeMirror-lint-tooltip,
body.graphiql-dark reach-portal {
  --color-pink: #ff5895;
  --color-purple: #918cff;
  --color-blue: #6fbcff;
  --color-orche: #ffcc99;
  --color-neutral-100: #b7c2d7;
  --color-neutral-60: #5a687f;
  --color-neutral-40: #465877;
  --color-neutral-15: #2d384c;
  --color-neutral-10: #26303f;
  --color-neutral-7: #293242;
  --color-neutral-0: #222b39;

  --color-pink-dark: #ff357f;
}

.graphiql-container,
.CodeMirror-info,
.CodeMirror-lint-tooltip,
reach-portal {
  &,
  &:is(button) {
    color: var(--color-neutral-100);
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: var(----font-weight-regular);
    line-height: var(--line-height);
  }

  & input {
    color: var(--color-neutral-100);
    font-family: var(--font-family);
    font-size: var(--font-size-caption);

    &::placeholder {
      color: var(--color-neutral-60);
    }
  }

  & a {
    color: var(--color-pink);

    &:visited {
      color: var(--color-pink-dark);
    }
  }
}
