dist/
esm/
cdn/
webpack/
monaco/
cdn.html
analyzer.html
/graphiql.*js
/graphiql.*js.map
/graphiql.*css
/graphiql.*css.map
example/yarn.lock
example/graphiql.js
example/graphiql.css
test/pid
renderGraphiql.js
cypress/screenshots
.awcache
typedoc
storybook
