# CRA example has its own eslint config
examples/graphiql-create-react-app

/packages/graphiql/graphiql.*

# Build artifacts
**/flow-typed
**/dist
**/out
**/esm
**/bundle
**/typedoc
**/monaco
**/webpack
packages/graphiql/*.html
**/*.min.js
**/coverage/
.nyc_output/

# ignore working-group dir markdown so it's easier for people to edit from the UI
working-group/

# codemirror's build artefacts are exported from the package root
**/codemirror-graphql/variables
**/codemirror-graphql/utils
**/codemirror-graphql/results
**/codemirror-graphql/jump.*
**/codemirror-graphql/mode.*
**/codemirror-graphql/lint.*
**/codemirror-graphql/info.*
**/codemirror-graphql/hint.*
**/codemirror-graphql/cm6-legacy
**/codemirror-graphql/__tests__

.changeset/*.md

# Followed are located in .gitignore
packages/graphiql-react/types/
packages/graphiql-plugin-explorer/types/
packages/graphiql-plugin-code-exporter/types/
