*.swp
*~
.*.haste_cache.*
.DS_Store
.secrets
npm-debug.log
yarn-error.log

node_modules/
coverage/
.nyc_output
packages/**/dist/.gitignore
packages/**/dist/.npmignore
packages/graphiql/storybook
packages/graphiql/typedoc
dist
esm
bundle
*.vsix

cypress/screenshots
lerna-debug.log
**/tsconfig.tsbuildinfo
**/*.tsbuildinfo

.yarnrc
yarn-1.18.0.js
*.orig
.idea/

# Local Netlify folder
.netlify

examples/*/yarn.lock
.eslintcache

vite.config.d.ts
vite.config.js
