*.swp
*~
.*.haste_cache.*
.DS_Store
.secrets
*.log

node_modules/
coverage/
.nyc_output
dist/
esm/
out/
*.vsix
*.tsbuildinfo

yarn-1.18.0.js
*.orig
.idea/

# Local Netlify folder
.netlify/

examples/*/yarn.lock
package-lock.json
.eslintcache
.cspellcache

vite.config.d.ts
vite.config.js

.next/
.turbo/
types/
packages/codemirror-graphql/cm6-legacy/
packages/codemirror-graphql/results/
packages/codemirror-graphql/utils/
packages/codemirror-graphql/variables/
packages/codemirror-graphql/*.js
packages/codemirror-graphql/*.d.ts
packages/codemirror-graphql/*.map
!packages/codemirror-graphql/*.config.js

packages/graphiql/dev.html
packages/graphiql/analyzer.html
packages/graphiql/graphiql*.js
packages/graphiql/*.css
packages/graphiql/*.map
packages/graphiql/cypress/screenshots/
packages/graphiql/typedoc/
packages/graphiql/webpack/
