.changeset/

# ignore working-group dir markdown so it's easier for people to edit from the UI
working-group/
packages/codemirror-graphql/src/__tests__/schema-kitchen-sink.graphql
CHANGELOG.md

# remove after merge of https://github.com/graphql/graphiql/pull/3256
*.flow
