.graphiql-doc-explorer-argument {
  & > * + * {
    margin-top: var(--px-12);
  }
}

.graphiql-doc-explorer-argument-name {
  color: oklch(var(--accent-purple));
}

.graphiql-doc-explorer-argument-deprecation {
  background-color: oklch(var(--accent-orange) / 0.1);
  border: 1px solid oklch(var(--accent-orange));
  border-radius: var(--border-radius-4);
  color: oklch(var(--accent-orange));
  padding: var(--px-8);
}

.graphiql-doc-explorer-argument-deprecation-label {
  font-size: var(--font-size-hint);
  font-weight: var(--font-weight-medium);
}
