.graphiql-doc-explorer-deprecation {
  background-color: oklch(var(--accent-orange) / 0.1);
  border: 1px solid oklch(var(--accent-orange));
  border-radius: var(--px-4);
  color: oklch(var(--accent-orange));
  padding: var(--px-8);
}

.graphiql-doc-explorer-deprecation-label {
  font-size: var(--font-size-eyebrow);
  font-weight: var(--font-weight-medium);
}
