.graphiql-doc-explorer-search {
  color: oklch(var(--fg-muted));

  &:not([data-state='idle']) {
    border: 1px solid oklch(var(--border-default));
    border-radius: var(--border-radius-4);
    box-shadow: 0 4px 12px oklch(0% 0 0 / 0.3);
    color: oklch(var(--fg-default));

    & .graphiql-doc-explorer-search-input {
      background: oklch(var(--bg-canvas));
    }
  }
}

.graphiql-doc-explorer-search-input {
  align-items: center;
  background-color: oklch(var(--fg-default) / 0.08);
  border-radius: var(--border-radius-4);
  display: flex;
  padding: var(--px-8) var(--px-12);
}

.graphiql-doc-explorer-search [role='combobox'] {
  border: none;
  background-color: transparent;
  margin-left: var(--px-4);
  width: 100%;

  &:focus {
    outline: none;
  }
}

.graphiql-doc-explorer-search [role='listbox'] {
  background-color: oklch(var(--bg-canvas));
  border: none;
  border-bottom-left-radius: var(--border-radius-4);
  border-bottom-right-radius: var(--border-radius-4);
  border-top: 1px solid oklch(var(--border-strong));
  max-height: 400px;
  overflow-y: auto;
  margin: 0;
  font-size: var(--font-size-body);
  padding: var(--px-4);
  /**
   * This makes sure that the logic for auto-scrolling the search results when
   * using keyboard navigation works properly (we use `offsetTop` there).
   */
  position: relative;
}

.graphiql-doc-explorer-search [role='option'] {
  border-radius: var(--border-radius-4);
  color: oklch(var(--fg-muted));
  overflow-x: hidden;
  padding: var(--px-8) var(--px-12);
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  &[data-headlessui-state='active'] {
    background-color: oklch(var(--fg-default) / 0.08);
  }

  &:hover {
    background-color: oklch(var(--fg-default) / 0.12);
  }

  &[data-headlessui-state='active']:hover {
    background-color: oklch(var(--fg-default) / 0.16);
  }

  & + & {
    margin-top: var(--px-4);
  }
}

.graphiql-doc-explorer-search-type {
  color: oklch(var(--accent-orange));
}

.graphiql-doc-explorer-search-field {
  color: oklch(var(--accent-green-light));
}

.graphiql-doc-explorer-search-argument {
  color: oklch(var(--accent-purple));
}

.graphiql-doc-explorer-search-divider {
  color: oklch(var(--fg-muted));
  font-size: var(--font-size-hint);
  font-weight: var(--font-weight-medium);
  margin-top: var(--px-8);
  padding: var(--px-8) var(--px-12);
}

.graphiql-doc-explorer-search-empty {
  color: oklch(var(--fg-muted));
  padding: var(--px-8) var(--px-12);
}
