a.graphiql-doc-explorer-type-name {
  color: oklch(var(--type-composite));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: currentColor auto 1px;
  }
}

a.graphiql-doc-explorer-type-name[data-type-kind='scalar'] {
  color: oklch(var(--type-scalar));
}

a.graphiql-doc-explorer-type-name[data-type-kind='enum'] {
  color: oklch(var(--type-enum));
}

a.graphiql-doc-explorer-type-name[data-type-kind='input'] {
  color: oklch(var(--type-input));
}
