a.graphiql-doc-explorer-type-name {
  color: oklch(var(--accent-orange));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: oklch(var(--accent-orange)) auto 1px;
  }
}
