button.graphiql-toolbar-button {
  display: block;
  height: var(--toolbar-width);
  width: var(--toolbar-width);

  &.error {
    background: hsla(var(--color-red), 0.15);
  }

  & > svg {
    pointer-events: none;
  }
}
