<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monaco Example!</title>
  </head>

  <body style="margin: 0; padding:0;">
    <div style="display: none;" id="graphql-config">
      { "schema": "https://swapi-graphql.netlify.com/.netlify/functions/index" }
    </div>
    <div
      id="root"
      style="width:800px; height:70vh; border:1px solid #ccc;"
    ></div>
    <div id="root-below" style="width:800px; height:30vh;"></div>
  </body>
</html>
