<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monaco Example!</title>
    <style>
      .div {
        margin: 0;
        padding: 0;
      }
      .full-height {
        height: 100vh;
      }
    </style>
  </head>

  <body style="margin: 0; padding:0;">
    <div style="display: none;" id="graphql-config">
      { "schema": "https://swapi-graphql.netlify.com/.netlify/functions/index" }
    </div>
    <div style="display: flex;">
      <div style="width:50%;" class="full-height">
        <div id="operation" style="height:70vh;"></div>
        <div id="variables" style="height:30vh;"></div>
      </div>
      <div id="results" class="full-height" style="width:50%;"></div>
    </div>
  </body>
</html>
