<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monaco Example!</title>
  </head>

  <body>
    <div
      id="root"
      style="width:800px; height:600px; border:1px solid #ccc;"
    ></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"
      integrity="sha256-0SGl1PJNDyJwcV5T+weg2zpEMrh7xvlwO4oXgvZCeZk="
      crossorigin="anonymous"
    ></script>
    <script type="module">
      require.config({
        paths: { vs: '../../../node_modules/monaco-editor/min/vs' },
      });

      require(['vs/editor/editor.main'], function() {
        var editor = monaco.editor.create(
          document.getElementById('container'),
          {
            value: [
              'function x() {',
              '\tconsole.log("Hello world!");',
              '}',
            ].join('\n'),
            language: 'json',
          },
        );
      });
    </script>
  </body>
</html>
