/**
 * We render markdown in the following places:
 * - In the hint tooltip when typing in the operation editor (field description
 *   and, optionally, deprecation reason).
 * - In the info tooltip when hovering over a field in the operation editor
 *   (field description and, optionally, deprecation reason).
 */

.graphiql-markdown-description,
.graphiql-markdown-deprecation {
  & blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--px-8);
  }

  & code,
  & pre {
    border-radius: var(--border-radius-4);
    font-family: var(--font-family-mono);
    font-size: var(--font-size-inline-code);
  }

  & code {
    padding: var(--px-2);
  }

  & pre {
    overflow: auto;
    padding: var(--px-6) var(--px-8);
  }

  & pre code {
    background-color: initial;
    border-radius: 0;
    padding: 0;
  }

  & ol,
  & ul {
    padding-left: var(--px-16);
  }

  & ol {
    list-style-type: decimal;
  }

  & ul {
    list-style-type: disc;
  }

  & img {
    border-radius: var(--border-radius-4);
    max-height: 120px;
    max-width: 100%;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.graphiql-markdown-description {
  & a {
    color: oklch(var(--accent-blue));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & blockquote {
    border-left: 1.5px solid oklch(var(--border-strong));
  }

  & code,
  & pre {
    background-color: oklch(var(--bg-subtle));
    color: oklch(var(--fg-default));
  }

  & > * {
    margin: var(--px-12) 0;
  }
}

.graphiql-markdown-deprecation {
  & a {
    color: oklch(var(--accent-orange));
    text-decoration: underline;
  }

  & blockquote {
    border-left: 1.5px solid oklch(var(--accent-orange));
  }

  & code,
  & pre {
    background-color: oklch(var(--accent-orange) / 0.1);
  }

  & > * {
    margin: var(--px-8) 0;
  }
}

.graphiql-markdown-preview > :not(:first-child) {
  display: none;
}
