<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monaco Example!</title>
    <style>
      .div {
        margin: 0;
        padding: 0;
      }

      .full-height {
        height: 100vh;
      }

      .column {
        width: 50%;
      }
      #toolbar {
        flex:auto;
        flex-direction: row;
        align-items: end;
        display: flex;
      }
      input {
        display: flex;
        flex-direction: column;
        width: 80%;
      }
      #button {
        flex: auto;
        flex-direction: column;
        display: flex;
      }
    </style>
    <script src="https://unpkg.com/netlify-auth-providers"></script>
  </head>

  <body style="margin: 0; padding: 0;">
    <div style="display: flex;">
      <div class="full-height column">
        <div id="toolbar"></div>
        <div id="operation" style="height: 70vh;"></div>
        <div id="variables" style="height: 30vh;"></div>
      </div>
      <div
        id="results"
        class="full-height column"
        aria-label="Result Window"
        aria-live="polite"
        aria-atomic="true"
      ></div>
    </div>
  </body>
</html>
