<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Monaco Example!</title>
  </head>
  <body>
    <div id="flex-wrapper" class="column">
      <div id="toolbar" class="row"></div>
      <div id="session-editor" class="row">
        <div class="full-height column half-width">
          <div id="operation"></div>
          <div id="variables"></div>
        </div>
        <div class="full-height column half-width">
          <div
            aria-label="Result Window"
            aria-live="polite"
            aria-atomic="true"
            id="results"
          ></div>
        </div>
      </div>
    </div>
    <!-- for github auth -->
    <script src="https://unpkg.com/netlify-auth-providers"></script>
  </body>
</html>
