/* Everything */
.graphiql-container {
  display: flex;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* The sidebar */
.graphiql-container .graphiql-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--px-8);
  width: var(--sidebar-width);
}
.graphiql-container .graphiql-sidebar button {
  color: var(--color-neutral-60);
  height: var(--sidebar-width);
  width: var(--sidebar-width);
}
.graphiql-container .graphiql-sidebar button.active {
  color: var(--color-neutral-100);
}
.graphiql-container .graphiql-sidebar button:not(:first-child) {
  margin-top: var(--px-4);
}
.graphiql-container .graphiql-sidebar button > svg {
  height: calc(var(--sidebar-width) - (2 * var(--px-12)));
  padding: var(--px-12);
  pointer-events: none;
  width: calc(var(--sidebar-width) - (2 * var(--px-12)));
}

/* The main content, i.e. everything except the sidebar */
.graphiql-container .graphiql-main {
  display: flex;
  flex: 1;
}

/* The whole session, i.e. editors and response */
.graphiql-container .graphiql-session {
  background-color: var(--color-neutral-7);
  /* Adding the 8px of padding to the inner border radius of the query editor */
  border-radius: calc(var(--border-radius-12) + var(--px-8));
  display: flex;
  flex: 1;
  max-height: 100%;
  padding: var(--px-8);
}

/* All editors (query, variable, headers) */
.graphiql-container .graphiql-editors {
  background-color: var(--color-neutral-0);
  border-radius: calc(var(--border-radius-12));
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* The query editor and the toolbar */
.graphiql-container .graphiql-query-editor {
  border-bottom: 1px solid var(--color-neutral-15);
  display: flex;
  flex: 1;
  padding: var(--px-16);
}

/* The query editor */
.graphiql-container .graphiql-query-editor-wrapper {
  display: flex;
  flex: 1;
}

/* The vertical toolbar next to the query editor */
.graphiql-container .graphiql-toolbar {
  margin-left: var(--px-16);
  width: var(--toolbar-width);
}
.graphiql-container .graphiql-toolbar > * + * {
  margin-top: var(--px-8);
}

/* The toolbar icons */
.graphiql-toolbar-icon {
  color: var(--color-neutral-40);
  display: block;
  height: calc(var(--toolbar-width) - (var(--px-8) * 2));
  padding: var(--px-8);
  width: calc(var(--toolbar-width) - (var(--px-8) * 2));
}

/* The tab bar for editor tools */
.graphiql-container .graphiql-editor-tools {
  align-items: center;
  cursor: row-resize;
  display: flex;
  justify-content: space-between;
  padding: var(--px-8);
}
.graphiql-container .graphiql-editor-tools button {
  color: var(--color-neutral-60);
}
.graphiql-container .graphiql-editor-tools button.active {
  color: var(--color-neutral-100);
}

/* The tab buttons to switch between editor tools */
.graphiql-container .graphiql-editor-tools-tabs {
  cursor: auto;
  display: flex;
}
.graphiql-container .graphiql-editor-tools-tabs > button {
  padding: var(--px-8) var(--px-12);
}
.graphiql-container .graphiql-editor-tools-tabs > button + button {
  margin-left: var(--px-8);
}

/* An editor tool, e.g. variable or header editor */
.graphiql-container .graphiql-editor-tool {
  flex: 1;
  padding: var(--px-16);
}

/* The response view */
.graphiql-container .graphiql-response {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

/* The footer below the response view */
.graphiql-container .graphiql-footer {
  border-top: 1px solid var(--color-neutral-15);
}

/* The plugin container */
.graphiql-container .graphiql-plugin {
  border-left: 1px solid var(--color-neutral-15);
  flex: 1;
  max-width: calc(100% - 2 * var(--px-16));
  padding: var(--px-16);
}

/* Generic loading spinner */
.graphiql-container .graphiql-spinner {
  height: 56px;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
}
.graphiql-container .graphiql-spinner::after {
  animation: rotation 0.6s infinite linear;
  border: 4px solid transparent;
  border-radius: 100%;
  border-top: 4px solid var(--color-neutral-40);
  content: '';
  display: inline-block;
  height: 46px;
  vertical-align: middle;
  width: 46px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Generic drag bar for horizontal resizing */
.graphiql-container .graphiql-horizontal-drag-bar {
  width: var(--px-12);
  cursor: col-resize;
}
.graphiql-container .graphiql-horizontal-drag-bar:hover::after {
  border: var(--px-2) solid var(--color-neutral-15);
  border-radius: var(--border-radius-2);
  content: '';
  display: block;
  height: 25%;
  margin: 0 auto;
  position: relative;
  /* (100% - 25%) / 2 = 37.5% */
  top: 37.5%;
  width: 0;
}

/* Generic icon style */
.graphiql-container .graphiql-chevron-icon {
  color: var(--color-neutral-40);
  display: block;
  height: var(--px-12);
  padding: var(--px-12);
  width: var(--px-12);
}
