/* Everything */
.graphiql-container {
  display: flex;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* The sidebar */
.graphiql-container .graphiql-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--px-8);
  width: var(--sidebar-width);
}
.graphiql-container .graphiql-sidebar button {
  color: var(--color-neutral-60);
  height: var(--sidebar-width);
  width: var(--sidebar-width);
}
.graphiql-container .graphiql-sidebar button.active {
  color: var(--color-neutral-100);
}
.graphiql-container .graphiql-sidebar button:not(:first-child) {
  margin-top: var(--px-4);
}
.graphiql-container .graphiql-sidebar button > svg {
  height: calc(var(--sidebar-width) - (2 * var(--px-12)));
  padding: var(--px-12);
  pointer-events: none;
  width: calc(var(--sidebar-width) - (2 * var(--px-12)));
}

/* The main content, i.e. everything except the sidebar */
.graphiql-container .graphiql-main {
  display: flex;
  flex: 1;
}

/* The current session and tabs */
.graphiql-container .graphiql-sessions {
  background-color: var(--color-neutral-7);
  /* Adding the 8px of padding to the inner border radius of the query editor */
  border-radius: calc(var(--border-radius-12) + var(--px-8));
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  margin: var(--px-16);
  margin-left: 0;
}

/* The session header containing tabs and the logo */
.graphiql-container .graphiql-session-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: var(--session-header-height);
}

/* The button to add a new tab */
button.graphiql-tab-add {
  margin-left: var(--px-12);
}
button.graphiql-tab-add > svg {
  color: var(--color-neutral-60);
  display: block;
  height: var(--px-16);
  width: var(--px-16);
}

/* The right-hand-side of the session header */
.graphiql-container .graphiql-session-header-right {
  align-items: center;
  display: flex;
}

/* The GraphiQL logo */
.graphiql-container .graphiql-logo {
  color: var(--color-neutral-60);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
  padding: var(--px-12) var(--px-16);
}

/* The editor of the session */
.graphiql-container .graphiql-session {
  display: flex;
  flex: 1;
  padding: 0 var(--px-8) var(--px-8);
}

/* All editors (query, variable, headers) */
.graphiql-container .graphiql-editors {
  background-color: var(--color-neutral-0);
  border-radius: calc(var(--border-radius-12));
  display: flex;
  flex: 1;
  flex-direction: column;
}
.graphiql-container .graphiql-editors.full-height {
  margin-top: calc(var(--px-8) - var(--session-header-height));
}

/* The query editor and the toolbar */
.graphiql-container .graphiql-query-editor {
  border-bottom: 1px solid var(--color-neutral-15);
  display: flex;
  flex: 1;
  padding: var(--px-16);
}

/* The query editor */
.graphiql-container .graphiql-query-editor-wrapper {
  display: flex;
  flex: 1;
}

/* The vertical toolbar next to the query editor */
.graphiql-container .graphiql-toolbar {
  margin-left: var(--px-16);
  width: var(--toolbar-width);
}
.graphiql-container .graphiql-toolbar > * + * {
  margin-top: var(--px-8);
}

/* The toolbar icons */
.graphiql-toolbar-icon {
  color: var(--color-neutral-40);
  display: block;
  height: calc(var(--toolbar-width) - (var(--px-8) * 2));
  padding: var(--px-8);
  width: calc(var(--toolbar-width) - (var(--px-8) * 2));
}

/* The tab bar for editor tools */
.graphiql-container .graphiql-editor-tools {
  align-items: center;
  cursor: row-resize;
  display: flex;
  justify-content: space-between;
  padding: var(--px-8);
}
.graphiql-container .graphiql-editor-tools button {
  color: var(--color-neutral-60);
}
.graphiql-container .graphiql-editor-tools button.active {
  color: var(--color-neutral-100);
}

/* The tab buttons to switch between editor tools */
.graphiql-container .graphiql-editor-tools-tabs {
  cursor: auto;
  display: flex;
}
.graphiql-container .graphiql-editor-tools-tabs > button {
  padding: var(--px-8) var(--px-12);
}
.graphiql-container .graphiql-editor-tools-tabs > button + button {
  margin-left: var(--px-8);
}

/* An editor tool, e.g. variable or header editor */
.graphiql-container .graphiql-editor-tool {
  flex: 1;
  padding: var(--px-16);
}

/* The response view */
.graphiql-container .graphiql-response {
  --editor-background: var(--color-neutral-7);
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

/* The footer below the response view */
.graphiql-container .graphiql-footer {
  border-top: 1px solid var(--color-neutral-15);
}

/* The plugin container */
.graphiql-container .graphiql-plugin {
  border-left: 1px solid var(--color-neutral-15);
  flex: 1;
  max-width: calc(100% - 2 * var(--px-16));
  overflow-y: auto;
  padding: var(--px-16);
}

/* Generic drag bar for horizontal resizing */
.graphiql-container .graphiql-horizontal-drag-bar {
  width: var(--px-12);
  cursor: col-resize;
}
.graphiql-container .graphiql-horizontal-drag-bar:hover::after {
  border: var(--px-2) solid var(--color-neutral-15);
  border-radius: var(--border-radius-2);
  content: '';
  display: block;
  height: 25%;
  margin: 0 auto;
  position: relative;
  /* (100% - 25%) / 2 = 37.5% */
  top: 37.5%;
  width: 0;
}

/* Generic icon style */
.graphiql-container .graphiql-chevron-icon {
  color: var(--color-neutral-40);
  display: block;
  height: var(--px-12);
  padding: var(--px-12);
  width: var(--px-12);
}

/* Generic spin animation */
.graphiql-spin {
  animation: spin 0.8s linear 0s infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
