.graphiql-doc-explorer-argument {
  & > * + * {
    margin-top: var(--px-12);
  }
}

.graphiql-doc-explorer-argument-name {
  color: var(--color-secondary-100);
}

.graphiql-doc-explorer-argument-deprecation {
  background-color: var(--color-warning-7);
  border: 1px solid var(--color-warning-100);
  border-radius: var(--border-radius-4);
  color: var(--color-warning-100);
  padding: var(--px-8);
}

.graphiql-doc-explorer-argument-deprecation-label {
  font-size: var(--font-size-hint);
  font-weight: var(--font-weight-medium);
}
