/* The header of the doc explorer */
.graphiql-doc-explorer-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.graphiql-doc-explorer-header-content {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.graphiql-doc-explorer-header:focus-within
  > .graphiql-doc-explorer-header-content
  > *:not(a.graphiql-doc-explorer-back) {
  /* Hide the header when focussing the search input */
  visibility: hidden;
}

/* The search input in the header of the doc explorer */
.graphiql-doc-explorer-search {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.graphiql-doc-explorer-search:focus-within {
  left: 0;
}
.graphiql-doc-explorer-search [data-reach-combobox-input] {
  height: 24px;
  width: 4ch;
}
.graphiql-doc-explorer-search [data-reach-combobox-input]:focus {
  width: 100%;
}

/* The back-button in the doc explorer */
a.graphiql-doc-explorer-back {
  align-items: center;
  color: var(--color-neutral-60);
  display: flex;
  text-decoration: none;

  &:visited {
    color: var(--color-neutral-60);
  }

  &:hover {
    text-decoration: underline;
  }

  & > svg {
    height: var(--px-8);
    margin-right: var(--px-8);
    width: var(--px-8);
  }
}

/* The title of the currently active page in the doc explorer */
.graphiql-doc-explorer-title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h2);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.graphiql-doc-explorer-title:not(:first-child) {
  font-size: var(--font-size-h3);
  margin-top: var(--px-8);
}

/* The contents of the currently active page in the doc explorer */
.graphiql-doc-explorer-content > * {
  color: var(--color-neutral-60);
  margin-top: var(--px-20);
}

/* Error message */
.graphiql-doc-explorer-error {
  background-color: var(--color-red-background);
  border: 1px solid var(--color-red);
  border-radius: var(--border-radius-8);
  color: var(--color-red);
  padding: var(--px-8) var(--px-12);
}
