.graphiql-doc-explorer-field-name {
  color: var(--color-info-100);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: var(--color-info-100) auto 1px;
  }
}
