a.graphiql-doc-explorer-field-name {
  color: hsl(var(--color-blue));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: hsl(var(--color-blue)) auto 1px;
  }
}
