a.graphiql-doc-explorer-type-name {
  color: var(--color-orche);
  text-decoration: none;

  &:visited {
    color: var(--color-orche);
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: var(--color-orche) auto 1px;
  }
}
