.graphiql-doc-explorer-type-name {
  color: var(--color-warning-100);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: var(--color-warning-100) auto 1px;
  }
}
