a.graphiql-doc-explorer-type-name {
  color: hsl(var(--color-warning));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: hsl(var(--color-warning)) auto 1px;
  }
}
