.graphiql-container .history-contents,
.graphiql-container .history-contents input {
  font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  padding: 0;
}

.graphiql-container .history-contents p {
  align-items: center;
  display: flex;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.graphiql-container .history-contents p.editable {
  padding-bottom: 6px;
  padding-top: 7px;
}

.graphiql-container .history-contents input {
  flex-grow: 1;
  font-size: 12px;
}

.graphiql-container .history-contents p:hover {
  cursor: pointer;
}

.graphiql-container .history-contents p span.history-label {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}