.graphiql-container,
.graphiql-container button,
.graphiql-container input {
  color: var(--color-neutral-100);
  font-size: 14px;
}

.graphiql-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.graphiql-container .editorWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.graphiql-container .title {
  font-size: 18px;
}

.graphiql-container .title em {
  font-size: 19px;
}

.graphiql-container .topBarWrap {
  display: flex;
  flex-direction: row;
}

.graphiql-container .topBar {
  align-items: center;
  background: linear-gradient(#f7f7f7, #e2e2e2);
  border-bottom: 1px solid #d0d0d0;
  cursor: default;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 34px;
  overflow-y: visible;
  padding: 7px 14px 6px;
  user-select: none;
}

.graphiql-container .toolbar {
  overflow-x: visible;
  display: flex;
}

.graphiql-container .docExplorerShow,
.graphiql-container .historyShow {
  background: linear-gradient(#f7f7f7, #e2e2e2);
  border-radius: 0;
  border-bottom: 1px solid #d0d0d0;
  border-right: none;
  border-top: none;
  color: #3b5998;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 2px 20px 0 18px;
}

.graphiql-container .docExplorerShow {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.graphiql-container .historyShow {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
}

.graphiql-container .docExplorerShow:before {
  border-left: 2px solid #3b5998;
  border-top: 2px solid #3b5998;
  content: '';
  display: inline-block;
  height: 9px;
  margin: 0 3px -1px 0;
  position: relative;
  transform: rotate(-45deg);
  width: 9px;
}

.graphiql-container .docExplorerWrap,
.graphiql-container .historyPaneWrap {
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 100%;
  z-index: 3;
}

.graphiql-container .historyPaneWrap {
  min-width: 230px;
  z-index: 5;
}

.graphiql-container .docExplorerResizer {
  cursor: col-resize;
  height: 100%;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.graphiql-container .docExplorerHide {
  cursor: pointer;
  font-size: 18px;
  margin: -7px -8px -6px 0;
  padding: 18px 16px 15px 12px;
  background: 0;
  border: 0;
  line-height: 14px;
}

.graphiql-container .result-window {
  --editor-background: var(--color-neutral-7);
  flex: 1;
  height: 100%;
  position: relative;
}

.graphiql-container .toolbar-menu,
.graphiql-container .toolbar-select {
  position: relative;
}

.graphiql-container .toolbar-menu-items,
.graphiql-container .toolbar-select-options {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 6px 0;
  position: absolute;
  z-index: 100;
}

.graphiql-container .toolbar-menu-items {
  left: 1px;
  margin-top: -1px;
  min-width: 110%;
  top: 100%;
  visibility: hidden;
}

.graphiql-container .toolbar-menu-items.open {
  visibility: visible;
}

.graphiql-container .toolbar-select-options {
  left: 0;
  min-width: 100%;
  top: -5px;
  visibility: hidden;
}

.graphiql-container .toolbar-select-options.open {
  visibility: visible;
}

.graphiql-container .toolbar-menu-items > li,
.graphiql-container .toolbar-select-options > li {
  cursor: pointer;
  display: block;
  margin: none;
  max-width: 300px;
  overflow: hidden;
  padding: 2px 20px 4px 11px;
  white-space: nowrap;
}

.graphiql-container .toolbar-menu-items > li.hover,
.graphiql-container .toolbar-menu-items > li:active,
.graphiql-container .toolbar-menu-items > li:hover,
.graphiql-container .toolbar-select-options > li.hover,
.graphiql-container .toolbar-select-options > li:active,
.graphiql-container .toolbar-select-options > li:hover,
.graphiql-container .history-contents > li:hover,
.graphiql-container .history-contents > li:active {
  background: #e10098;
  color: #fff;
}

.graphiql-container .toolbar-select-options > li > svg {
  display: inline;
  fill: #666;
  margin: 0 -6px 0 6px;
  pointer-events: none;
  vertical-align: middle;
}

.graphiql-container .toolbar-select-options > li.hover > svg,
.graphiql-container .toolbar-select-options > li:active > svg,
.graphiql-container .toolbar-select-options > li:hover > svg {
  fill: #fff;
}

.graphiql-container .tabs {
  height: 42px;
  background-image: linear-gradient(#f7f7f7, #e2e2e2);
  display: flex;
  align-items: center;
}

.graphiql-container .tab {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-right: 6px;
  padding-left: 14px;
  height: 100%;
  color: rgba(0, 0, 0, 0.6);

  border-left: 1px solid lightgray;
  /*
  Needed for `button` components.
  */
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none;
}

/*
  If it's only one tab, we don't have the X button, so we want more padding.
  In the .tabs container, we have one more child - the plus button.
  So if this tab is first child and the second last at the same time,
  this is the case we want to target.
*/

.graphiql-container .tab:first-child:nth-last-child(2) {
  padding-right: 14px;
}

.graphiql-container .tab:hover {
  background-image: linear-gradient(
    rgba(245, 245, 245, 0.7),
    rgba(215, 215, 215, 1)
  );
  color: rgba(0, 0, 0, 0.8);
}

.graphiql-container .tab.active {
  background-image: linear-gradient(
    rgba(233, 233, 233, 0.7),
    rgba(205, 205, 205, 1)
  );
  color: black;
}

/* {
  background-image: linear-gradient(
    rgba(223, 223, 223, 0.5),
    rgba(196, 196, 196, 1)
  );
} */

.graphiql-container .tab .close {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: transparent;
  margin-left: 6px;
  padding: 3px 6px;
  border-radius: 4px;
}

.graphiql-container .tab:hover .close,
.graphiql-container .tab.active .close {
  opacity: 1;
}

.graphiql-container .tab .close::before {
  content: '✕';
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  height: 14px;
}

.graphiql-container .tab .close:hover {
  background: rgba(0, 0, 0, 0.08);
}

.graphiql-container .tab .close:active {
  background: rgba(0, 0, 0, 0.12);
}

.graphiql-container .tab-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  line-height: 1;
  font-size: 26px;
  padding: 0 8px;
  height: 30px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 3px;
  margin-left: 6px;
  cursor: pointer;
}

.graphiql-container .tab-add:hover {
  background: rgba(0, 0, 0, 0.06);
}

.graphiql-container .tab-add:active {
  background: rgba(0, 0, 0, 0.1);
}
