button.graphiql-un-styled {
  all: unset;
  border-radius: var(--border-radius-4);
  cursor: pointer;

  &:active {
    background-color: var(--color-neutral-7);
  }

  &:focus {
    outline: var(--color-neutral-15) auto 1px;
  }
}

button.graphiql-button {
  background-color: var(--color-neutral-7);
  border: none;
  border-radius: var(--border-radius-4);
  color: var(--color-neutral-100);
  cursor: pointer;
  font-size: var(--font-size-body);
  padding: var(--px-8) var(--px-12);

  &:active {
    background-color: var(--color-neutral-10);
  }

  &:focus {
    outline: var(--color-neutral-15) auto 1px;
  }

  &.graphiql-button-success {
    background-color: var(--color-green-background);
  }
  &.graphiql-button-error {
    background-color: var(--color-red-background);
  }
}
