.graphiql-dropdown {
  background-color: var(--color-neutral-0);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-8);
  margin: 0;
  max-width: 250px;
  min-width: 100px;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.graphiql-dropdown-item {
  border-radius: var(--border-radius-4);
  cursor: pointer;
  margin: var(--px-4);
  overflow: hidden;
  padding: var(--px-6) var(--px-8);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.graphiql-dropdown-item:active,
.graphiql-dropdown-item:hover {
  background-color: var(--color-neutral-7);
}

.graphiql-dropdown-item:not(:first-child) {
  margin-top: 0;
}
