.graphiql-tabs {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-color: #88888888 transparent;
  padding: 0 var(--px-12);
  margin: 0;

  & > :not(:first-child) {
    margin-left: var(--px-12);
  }
}

/* Safari scrollbars */
.graphiql-tabs::-webkit-scrollbar-track,
.graphiql-tabs::-webkit-scrollbar {
  background-color: transparent;
}

.graphiql-tabs::-webkit-scrollbar-thumb {
  border-radius: 99px;
  padding: 3px;
  box-shadow: inset 0 0 99px 99px #88888888;
  border: solid 3px transparent;
}

.graphiql-tab {
  align-items: stretch;
  border-radius: var(--border-radius-8);
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  display: flex;

  & > button.graphiql-tab-close {
    visibility: hidden;
  }
  &.graphiql-tab-active > button.graphiql-tab-close,
  &:hover > button.graphiql-tab-close,
  &:focus-within > button.graphiql-tab-close {
    visibility: unset;
  }

  &.graphiql-tab-active {
    background-color: hsla(var(--color-neutral), var(--alpha-background-heavy));
    color: hsla(var(--color-neutral), 1);
  }
}

button.graphiql-tab-button {
  padding: var(--px-4) 0 var(--px-4) var(--px-8);
}

button.graphiql-tab-close {
  align-items: center;
  display: flex;
  padding: var(--px-4) var(--px-8);

  & > svg {
    height: var(--px-8);
    width: var(--px-8);
  }
}
