.graphiql-tabs {
  display: flex;
  align-items: center;
  gap: var(--px-8);
  padding: var(--px-8) 0;
  margin: 0 var(--px-8)
    /* when using padding while scrolling tab items will overflow to padding area */;
  overflow-x: auto;
  list-style: none;
}

.graphiql-tab,
.graphiql-tab-wrapper {
  border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
}

.graphiql-tab {
  background: hsla(var(--color-neutral), var(--alpha-background-light));

  /* disable shrinking while changing the operation name */
  &:not(:focus-within) {
    transform: none !important;
  }

  .graphiql-tab-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 140px;
    color: hsla(var(--color-neutral), var(--alpha-secondary));
    backdrop-filter: blur(9999px);
  }

  &:hover,
  &:focus-within,
  &.graphiql-tab-active {
    background: hsla(var(--color-neutral), 0.2);
    color: hsl(var(--color-neutral));

    .graphiql-tab-close {
      display: block;
    }
  }

  .graphiql-tab-button {
    border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--px-4) 28px var(--px-4) var(--px-8);

    &:hover {
      background: none;
    }
  }

  .graphiql-tab-close {
    position: absolute;
    right: var(--px-4);
    display: none;
    padding: var(--px-6);
    line-height: 0;

    & > svg {
      height: var(--px-8);
      width: var(--px-8);
    }

    &:hover {
      background: hsla(var(--color-neutral), 0.3);
      color: hsl(var(--color-neutral));
    }
  }
}
