.graphiql-tabs {
  --bg: hsl(var(--color-base));

  display: flex;
  align-items: center;
  gap: var(--px-8);
  /* reset browser defaults */
  padding: 0;
  margin: 0;
  list-style: none;
}

/* trick to shrink multiple tabs, instead of overflow container */
.graphiql-tabs,
.graphiql-tab {
  min-width: 0;
}

.graphiql-tab-input {
  all: unset;
  width: 100%;
  padding: var(--px-4) 28px var(--px-4) var(--px-8);
  border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;

  &:focus {
    outline: hsla(var(--color-neutral), var(--alpha-background-heavy)) auto 1px;
  }

  &[readonly] {
    cursor: pointer;
    /* remove selection when focusing */
    &::selection {
      user-select: none;
    }
  }
}

.graphiql-tab:has(input[readonly]) {
  max-width: 140px;
}

.graphiql-tab {
  border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
  background: hsla(var(--color-neutral), var(--alpha-background-light));
  position: relative;
  display: flex;

  /* disable shrinking while changing the operation name */
  &:not(:focus-within) {
    transform: none !important;
  }

  &:hover,
  &:focus-within,
  &.graphiql-tab-active {
    background: var(--bg);
    color: hsl(var(--color-neutral));

    .graphiql-tab-close {
      display: block;
    }
  }

  .graphiql-tab-button {
    border-radius: var(--border-radius-8) var(--border-radius-8) 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--px-4) 28px var(--px-4) var(--px-8);

    &:hover {
      background: none;
    }
  }

  .graphiql-tab-close {
    position: absolute;
    right: min(var(--px-4), 5%);
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background: var(--bg);
    box-shadow: -10px 0 10px 0 var(--bg);
    padding: var(--px-6);
    line-height: 0;

    & > svg {
      height: var(--px-8);
      width: var(--px-8);
    }

    &:hover {
      background: var(--bg);
      color: hsl(var(--color-neutral));
      overflow: hidden; /* bg in `:before` will not overflow from radius area */

      /* trick to add 2nd bg with opacity */
      &:before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background: hsla(var(--color-neutral), 0.3);
      }
    }
  }
}
