.graphiql-tabs {
  display: flex;
  align-items: center;
  gap: var(--px-10);
  padding: var(--px-12);
  overflow-x: auto;
}

.graphiql-tab {
  background: hsla(var(--color-neutral), var(--alpha-background-light));
  border-top-left-radius: var(--border-radius-8);
  border-top-right-radius: var(--border-radius-8);
  overflow: hidden;

  .graphiql-tab-wrapper {
    color: hsla(var(--color-neutral), var(--alpha-secondary));
    max-width: 140px;
    position: relative;
    display: flex;
    align-items: center;
    backdrop-filter: blur(9999px);
    padding-right: 28px;
  }

  &:hover,
  &.graphiql-tab-active {
    background: hsla(var(--color-neutral), 0.2);
    color: hsl(var(--color-neutral));
  }

  .graphiql-tab-close {
    position: absolute;
    right: var(--px-4);
    display: none;
  }

  &.graphiql-tab-active,
  &:hover {
    .graphiql-tab-close {
      display: block;
    }
  }

  .graphiql-tab-button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: var(--px-4) 0 var(--px-4) var(--px-8);
  }

  .graphiql-tab-button:hover,
  .graphiql-tab-close:hover {
    background: none;
  }

  .graphiql-tab-close {
    padding: var(--px-6);

    & > svg {
      height: var(--px-8);
      width: var(--px-8);
    }

    &:hover {
      background: hsla(var(--color-neutral), 0.3);
      color: hsl(var(--color-neutral));
    }
  }
}
