.docExplorerWrap {
  height: unset !important;
  min-width: unset !important;
  width: unset !important;
}

.docExplorerWrap svg {
  display: unset;
}

.doc-explorer-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
}

.doc-explorer-rhs {
  display: none;
}

.graphiql-explorer-root {
  font-family: var(--font-family-mono) !important;
  font-size: var(--font-size-body) !important;
  padding: 0 !important;
}

.graphiql-explorer-root > div > div {
  border-color: hsla(
    var(--color-neutral),
    var(--alpha-background-heavy)
  ) !important;
  padding-top: var(--px-16);
}

.graphiql-explorer-root input {
  background: unset;
}

.graphiql-explorer-root select {
  background: hsl(var(--color-base)) !important;
  border: 1px solid hsla(var(--color-neutral), var(--alpha-secondary));
  border-radius: var(--border-radius-4);
  color: hsl(var(--color-neutral)) !important;
  margin: 0 var(--px-8);
  padding: var(--px-4) var(--px-6);
}

.graphiql-operation-title-bar .toolbar-button {
  line-height: 0;
  margin-left: var(--px-8);
  color: hsla(var(--color-neutral), var(--alpha-secondary, 0.6));
  font-size: var(--font-size-h3);
  vertical-align: middle;
}

.graphiql-explorer-graphql-arguments input {
  line-height: 0;
}

.graphiql-explorer-actions {
  border-color: hsla(
    var(--color-neutral),
    var(--alpha-background-heavy)
  ) !important;
}
