@import url('codemirror/addon/fold/foldgutter.css');

.CodeMirror-foldgutter {
  width: var(--px-12);
}

.CodeMirror-foldmarker {
  background-color: hsl(var(--color-info));
  border-radius: var(--border-radius-4);
  color: hsl(var(--color-base));
  font-family: inherit;
  margin: 0 var(--px-4);
  padding: 0 var(--px-8);
  text-shadow: none;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  color: hsla(var(--color-neutral), var(--alpha-tertiary));

  &::after {
    margin: 0 var(--px-2);
  }
}
