/* Popup styles */
.CodeMirror-info {
  background-color: var(--color-neutral-0);
  border-radius: var(--border-radius-8);
  box-shadow: var(--box-shadow);
  color: var(--color-neutral-100);
  max-height: 300px;
  max-width: 400px;
  opacity: 0;
  overflow: auto;
  padding: var(--px-12);
  position: fixed;
  transition: opacity 0.15s;

  /* Link styles */
  & a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline dotted;
    }
  }

  /* Align elements in header */
  & .CodeMirror-info-header {
    display: flex;
    align-items: baseline;
  }

  /* Main elements */
  & .CodeMirror-info-header {
    & > .type-name,
    & > .field-name,
    & > .arg-name,
    & > .directive-name,
    & > .enum-value {
      font-size: var(--font-size-h4);
      font-weight: var(--font-weight-medium);
    }
  }

  /* Type names */
  & .type-name-pill {
    border: 1px solid var(--color-neutral-40);
    border-radius: var(--border-radius-4);
    color: var(--color-neutral-60);
    margin-left: var(--px-6);
    padding: var(--px-4);
  }

  /* Descriptions */
  & .info-description {
    color: var(--color-neutral-60);
    margin-top: var(--px-12);
    overflow: hidden;

    & > * {
      margin: var(--px-12) 0;
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}
