name License Check
on: 
  push:
    paths:
      - 'yarn.lock'
  pull_request:
    types: [opened, synchronize]
      
jobs:
  check:
    name: License Check
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Use Node
        uses: actions/setup-node@v2
      - name: Yarn Install
        uses: bahmutov/npm-install@v1

      - name: License Check
        run: yarn license-check
