name: Main Tests
# report coverage on main for codecov baseline
on:
  push:
    branches: [main]
jobs:
  install:
    name: Install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: yarn
      - name: Cache node modules
        id: cache-modules
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
          key: modules-${{ github.sha }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - run: yarn install --frozen-lockfile --immutable

  jest:
    name: Jest Unit Tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3

      - id: cache-modules
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
          key: modules-${{ github.sha }}
      - run: yarn test --coverage
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/lcov.info
          fail_ci_if_error: true
          verbose: true
