name: Main Tests
# report coverage on main for codecov baseline
on:
  push:
    branches: [main]
jobs:
  install:
    name: Install
    runs-on: ubuntu-latest

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}
      - name: Checkout Code
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
      - name: Cache node modules
        id: cache-modules
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: modules-${{ github.sha }}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('yarn.lock') }}
      - run: yarn install --frozen-lockfile --immutable
